<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- core details row 1 of flexcol--}}
  <div class="flexrow core-details">
    <img class="pic" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
    <div class="flexcol facts">
    
      <input class="charname" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
      
      <div class="flexrow details">
        <div class="class-details">
          <span><label>Class</label><input name="data.class.name.value" type="text" value="{{data.class.name.value}}" placeholder="Class"/></span>
          <span><label>Level</label><input name="data.class.level.value" type="text" value="{{data.class.level.value}}" placeholder="0" data-dtype="Number"/></span>
          <span><label>XP</label><input name="data.class.xp.value" type="text" value="{{data.class.xp.value}}" placeholder="0" data-dtype="Number"/></span>
        </div>
      
        <div class="other-details">
          <span><label>Alignment</label><input name="data.alignment.value" type="text" value="{{data.alignment.value}}" placeholder="Alignment" readonly/></span>
          <span><label>Secondary Skill</label><input name="data.secondary-skill.value" type="text" value="{{data.secondary-skill.value}}" placeholder="Secondary Skill"/></span>
        </div>
        
      </div>

      
    </div>
  </div>
  
  {{!-- Character Sheet Navigation row 2 of flexcol--}}
  <nav class="sheet-navigation tabs" data-group="primary">
      <a class="item active" data-tab="attributes">Basics</a>
      <a class="item" data-tab="inventory">Inventory</a>
      <a class="item" data-tab="features">Features</a>
      <a class="item" data-tab="spellbook">Spellbook</a>
      <a class="item" data-tab="biography">Biography</a>
  </nav>

</form>