<div class="flexrow core-details">
  
  <img class="pic" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>
  
  <div class="flexcol basics">
    <input class="itemname" name="name" type="text" value="{{item.name}}" placeholder="Name"/>
    <div class="flexrow iteminfo">
      <span>Type: {{data.itemType}}</span>
        <span class="slots">Weight: {{data.totalWeight}}</span>
    </div>
  </div>    
</div>

<div class="flexrow phys-desc">
    <div class="flexcol phys-stack">
      <div class="flexrow phys-detail">
        <span>Qty</span>
        <input name="data.qty" type="number" value="{{data.qty}}" placeholder="1" data-dtype="Number" min="0"/> 
      </div>
      <div class="flexrow phys-detail">
        <span>Weight Each</span>
        <input name="data.weight" type="number" value="{{data.weight}}" placeholder="1" data-dtype="Number" min="1"/>
      </div>
   </div>
  <div class="desc-detail">
    {{editor content=data.description target="data.description" button=true owner=true editable=true}}
  </div>
</div>