<div class="flexrow core-details">
  
  <img class="pic" src="{{source.img}}" title="{{source.name}}" data-edit="img"/>
  
  <div class="flexcol basics">
    <input class="itemname" name="name" type="text" value="{{source.name}}" placeholder="Name"/>
    <div class="flexrow iteminfo">
      <span>Type: {{itemType}}</span>
        <span class="slots">Weight: {{totalWeight}}</span>
    </div>
  </div>    
</div>

<div class="flexrow phys-desc">
    <div class="flexcol phys-stack">
      <div class="flexrow phys-detail">
        <span>Qty</span>
        <input name="system.qty" type="number" value="{{system.qty}}" placeholder="1" data-dtype="Number" min="0"/> 
      </div>
      <div class="flexrow phys-detail">
        <span>Weight Each</span>
        <input name="system.weight" type="number" value="{{system.weight}}" placeholder="1" data-dtype="Number" min="1"/>
      </div>
   </div>
  <div class="desc-detail">
    {{editor system.description target="system.description" button=true owner=true editable=true}}
  </div>
</div>