<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- core details --}}
  <div class="flexrow core-details">
    <img class="pic" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
    <div class="flexcol facts">
    
      <input class="charname" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
      
      <div class="flexrow basics">
          {{#unless data.isMonster}}
          <select class="charclass" name="data.class.name.value">
            {{selectOptions data.config.Classes selected=data.class.name.value blank="-- Class --"}}
          </select>
          <select class="charlevel" name="data.class.level.value">
            {{selectOptions data.config.CharacterLevels selected=data.class.level.value blank="-- Level --"}}
          </select>
          <input class="charxp" name="data.class.xp.value" type="number" value="{{data.class.xp.value}}" min="0" placeholder="0" data-dtype="Number"/>
          
          <input class="charalign" type="text" value="{{data.alignment}}" placeholder="Alignment" readonly/>
          {{/unless}}
          {{#data.isMonster}}
          <select class="charalign" name="data.alignment">
            {{selectOptions data.config.Alignments selected=data.alignment blank="-- Alignment --"}}
          </select>
          {{/data.isMonster}}
          {{#unless data.isMonster}}
          <select class="charsecskill" name="data.secondary-skill.name">
            {{selectOptions data.config.Backgrounds selected=data.secondary-skill.name blank="-- Secondary Skill --"}}
          </select>
          {{/unless}}
      </div>
     
      <div class="flexrow">
        <ul class="flexrow attributes">
          <li class="attribute health">
              <h4 class="attribute-name box-title">Hit Points</h4>
              <div class="attribute-value multiple">
                  <input name="data.combat.hp.value" type="number"
                         value="{{data.combat.hp.value}}" placeholder="10"
                         data-dtype="Number" min="0" title="Current Hit Points">
                  <span class="sep"> / </span>
                  <input name="data.combat.hp.max" type="number" min="0"
                         value="{{data.combat.hp.max}}" placeholder="10" 
                         data-dtype="Number" title="Max Hit Points">
              </div>
              <footer class="attribute-footer">
                <span>Current</span>
                <span class="sep"> / </span>
                <span>Max</span>
              </footer>
          </li>
          <li class="attribute armorclass">
              <h4 class="attribute-name box-title">AC</h4>
              <div class="attribute-value multiple">
                  <input name="data.combat.ac.value" type="number" min="0"
                         value="{{data.combat.ac.value}}" placeholder="10"
                         data-dtype="Number" title="Base AC">
                  <span class="sep"> / </span>
                  <input name="data.combat.ac.other-value" type="number" min="0"
                         value="{{data.combat.ac.other-value}}" placeholder="10" 
                         data-dtype="Number" title="Other AC">
              </div>
              <footer class="attribute-footer">
                <span>Base</span>
                <span class="sep"> / </span>
                <span>Other</span>
              </footer>
          </li>
          <li class="attribute movement">
              <h4 class="attribute-name box-title">Movement</h4>
              <div class="attribute-value multiple">
                  <input type="text" value="{{data.moveTactical}}" data-dtype="Number" title="Tactical ft" readonly>
                  <span class="sep"> / </span>
                  <input type="text" value="{{data.moveOverland}}" data-dtype="Number" title="Overland MP" readonly>
              </div>
              <footer class="attribute-footer">
                <span>ft</span>
                <span class="sep"> / </span>
                <span>mp</span>
              </footer>
          </li>         
        </ul>
        {{#unless data.isMonster}}
        <div class="flexcol other-attributes">
          <span>Vision Type: {{data.vision}}</span>
          <span>BAB: {{data.bab}}</span>
          {{#data.isNPC}}
          <span>Loyalty: <input class="loyalty" name="data.loyalty.value" type="number" min="2" value="{{data.loyalty.value}}" placeholder="6" data-dtype="Number" title="Loyalty"></span>
          {{/data.isNPC}}
        </div>
        {{/unless}}
      </div>
    </div>
  </div>

  {{!-- Character Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
      <a class="item active" data-tab="core">Basics</a>
      <a class="item" data-tab="inventory">Inventory</a>
      {{#unless data.isMonster}}
      <a class="item" data-tab="features">Features</a>
      <a class="item" data-tab="spells">Spellbook</a>
      <a class="item" data-tab="notes">Notes</a>
      {{/unless}}
      {{#data.isMonster}}
      <a class="item" data-tab="capabilities">Capabilities</a>
      {{/data.isMonster}}
  </nav>
  
  
  <section class="sheet-body">

    {{!-- Ability Scores, Saves, Traits --}}


    <div class="tab attributes" data-group="primary" data-tab="core">

      <div class="flexrow sst">
      
        {{#unless data.isMonster}}
        <ul class="flexcol ability-scores">
          <li class="flexrow ability-score phys">
            <h4 class="rollable event-ability-name" data-ability="phys">PHYS</h4>
            <input name="data.ability-scores.phys.value" class="event-ability-value" data-ability="phys" type="number" min="3" value="{{data.ability-scores.phys.value}}" placeholder="10" data-dtype="Number">
            <ul class="txt-details">
              {{#each data.physText}}
              <li>{{this}}</li>
              {{/each}}
            </ul>
          </li>
          <li class="flexrow ability-score dex">
            <h4 class="rollable event-ability-name" data-ability="dex">DEX</h4>
            <input name="data.ability-scores.dex.value"  class="event-ability-value" data-ability="dex" type="number" min="3" value="{{data.ability-scores.dex.value}}" placeholder="10" data-dtype="Number">
            <ul class="txt-details">
              {{#each data.dexText}}
              <li>{{this}}</li>
              {{/each}}
            </ul>
          </li>
          <li class="flexrow ability-score comp">
            <h4 class="rollable event-ability-name" data-ability="comp">COMP</h4>
            <input name="data.ability-scores.comp.value"  class="event-ability-value" data-ability="comp" type="number" min="3" value="{{data.ability-scores.comp.value}}" placeholder="10" data-dtype="Number">
            <ul class="txt-details">
              {{#each data.compText}}
              <li>{{this}}</li>
              {{/each}}
            </ul>
          </li>
          <li class="flexrow ability-score cha">
            <h4 class="rollable event-ability-name" data-ability="cha">CHA</h4>
            <input name="data.ability-scores.cha.value"  class="event-ability-value" data-ability="cha" type="number" min="3" value="{{data.ability-scores.cha.value}}" placeholder="10" data-dtype="Number">
            <ul class="txt-details">
              {{#each data.chaText}}
              <li>{{this}}</li>
              {{/each}}
            </ul>
          </li>
        </ul>
        {{/unless}}
        
        <ul class="flexcol saves">
          <li class="flexrow save poison">
            <h4 class="rollable event-saves-name" data-save="pd">Poison / Death</h4>
            <input name="data.saves.pd.value" class="event-save-value" type="number" min="2" value="{{data.saves.pd.value}}" placeholder="20" data-dtype="Number">
          </li>
          <li class="flexrow save petpoly">
            <h4 class="rollable event-saves-name" data-save="pp">Petrify / Polymorph</h4>
            <input name="data.saves.pp.value" class="event-save-value" type="number" min="2" value="{{data.saves.pp.value}}" placeholder="20" data-dtype="Number">
          </li>
          <li class="flexrow save breath">
            <h4 class="rollable event-saves-name" data-save="bw">Breath Weapon</h4>
            <input name="data.saves.bw.value" class="event-save-value" type="number" min="2" value="{{data.saves.bw.value}}" placeholder="20" data-dtype="Number">
          </li>
          <li class="flexrow save law">
            <h4 class="rollable event-saves-name" data-save="lm">Law Magic</h4>
            <input name="data.saves.lm.value" class="event-save-value" type="number" min="2" value="{{data.saves.lm.value}}" placeholder="20" data-dtype="Number">
          </li>
          <li class="flexrow save chaos">
            <h4 class="rollable event-saves-name" data-save="cm">Chaos Magic</h4>
            <input name="data.saves.cm.value" class="event-save-value" type="number" min="2" value="{{data.saves.cm.value}}" placeholder="20" data-dtype="Number">
          </li>
        </ul>

      </div>

      <div class="flexcol button-town">
        {{#data.isSpellcaster}}
        <a class="rollable event-recover-spells">Recover Spells</a>
        {{/data.isSpellcaster}}
      </div>

    </div>

    {{!-- Inventory Tab --}}
    <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
        {{> "systems/loser/templates/actors/parts/actor-inventory.html"}}
    </div>

    {{!-- Spells Tab --}}
    <div class="tab spells flexcol" data-group="primary" data-tab="spells">
        {{> "systems/loser/templates/actors/parts/actor-spells.html"}}
    </div>

    {{!-- Features Tab --}}
    <div class="tab features flexcol" data-group="primary" data-tab="features">
        {{> "systems/loser/templates/actors/parts/actor-features.html"}}
    </div>

    {{!-- Notes Tab --}}
    <div class="tab notes flexcol" data-group="primary" data-tab="notes">
        {{> "systems/loser/templates/actors/parts/actor-notes.html"}}
    </div>

    {{!-- Capabilities Tab --}}
    <div class="tab capabilities flexcol" data-group="primary" data-tab="capabilities">
        {{> "systems/loser/templates/actors/parts/actor-capabilities.html"}}
    </div>
    
  </section>

</form>