<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- core details --}}
  <div class="flexrow core-details">
    <img class="pic" src="{{source.img}}" title="{{source.name}}" data-edit="img"/>
    <div class="flexcol facts">
    
      <input class="charname" name="name" type="text" value="{{source.name}}" placeholder="Name"/>
      
      <div class="flexrow basics">

          {{#showClassControls}}
            <select class="charclass" name="system.class.name.value">
              {{selectOptions config.Classes selected=system.class.name.value blank="-- Class --"}}
            </select>
            <select class="charlevel" name="system.class.level.value">
              {{selectOptions config.CharacterLevels selected=system.class.level.value blank="-- Level --"}}
            </select>
            <input class="charxp" name="system.class.xp.value" type="number" value="{{system.class.xp.value}}" min="0" placeholder="0" data-dtype="Number"/>
            
            <input class="charalign" type="text" value="{{alignment}}" placeholder="Alignment" readonly/>
          {{/showClassControls}}

          {{#hasEditableAlignment}}
            <select class="charalign" name="system.alignment">
              {{selectOptions config.Alignments selected=system.alignment blank="-- Alignment --"}}
            </select>
          {{/hasEditableAlignment}}

          {{#hasSecondarySkill}}
            <select class="charsecskill" name="system.secondary-skill.name">
              {{selectOptions config.Backgrounds selected=system.secondary-skill.name blank="-- Secondary Skill --"}}
            </select>
          {{/hasSecondarySkill}}

      </div>
     
      <div class="flexrow">
        <ul class="flexrow attributes">
          <li class="attribute health">
              <h4 class="attribute-name box-title">Hit Points</h4>
              <div class="attribute-value multiple">
                  <input name="system.combat.hp.value" type="number"
                         value="{{system.combat.hp.value}}" placeholder="10"
                         data-dtype="Number" min="0" title="Current Hit Points">
                  <span class="sep"> / </span>
                  <input name="system.combat.hp.max" type="number" min="0"
                         value="{{system.combat.hp.max}}" placeholder="10" 
                         data-dtype="Number" title="Max Hit Points">
              </div>
              <footer class="attribute-footer">
                <span>Current</span>
                <span class="sep"> / </span>
                <span>Max</span>
              </footer>
          </li>
          <li class="attribute armorclass">
              <h4 class="attribute-name box-title">AC</h4>
              <div class="attribute-value multiple">
                  <input name="system.combat.ac.value" type="number" min="0"
                         value="{{system.combat.ac.value}}" placeholder="10"
                         data-dtype="Number" title="Base AC">
                  <span class="sep"> / </span>
                  <input name="system.combat.ac.other-value" type="number" min="0"
                         value="{{system.combat.ac.other-value}}" placeholder="10" 
                         data-dtype="Number" title="Other AC">
              </div>
              <footer class="attribute-footer">
                <span>Base</span>
                <span class="sep"> / </span>
                <span>Other</span>
              </footer>
          </li>
          <li class="attribute movement">
              <h4 class="attribute-name box-title">Movement</h4>
              <div class="attribute-value multiple">
                {{#hasReadOnlyMovement}}
                  <input type="text" value="{{moveTactical}}" data-dtype="Number" title="Tactical ft" readonly>
                  <span class="sep"> / </span>
                  <input type="text" value="{{moveOverland}}" data-dtype="Number" title="Overland MP" readonly>
                {{/hasReadOnlyMovement}}
                {{^hasReadOnlyMovement}}
                <input type="number" name="moveTactical" value="{{system.moveTactical}}" data-dtype="Number" title="Tactical ft">
                <span class="sep"> / </span>
                <input type="number" name="moveOverland" value="{{system.moveOverland}}" data-dtype="Number" title="Overland MP">
                {{/hasReadOnlyMovement}}
              </div>
              <footer class="attribute-footer">
                <span>ft</span>
                <span class="sep"> / </span>
                <span>mp</span>
              </footer>
          </li>         
        </ul>
        
        <div class="flexcol other-attributes">
          {{#hasOtherAttributes}}
            <span>Vision Type: {{vision}}</span>
            <span>BAB: {{bab}}</span>
            {{#hasLoyalty}}
              <span>Loyalty: <input class="loyalty" name="system.loyalty.value" type="number" min="2" value="{{system.loyalty.value}}" placeholder="6" data-dtype="Number" title="Loyalty"></span>
            {{/hasLoyalty}}
          {{/hasOtherAttributes}}
          {{#hasBAB}}
            <span>BAB: <input class="bab" name="system.bab" type="number" min="0" value="{{system.bab}}" placeholder="0" data-dtype="Number" title="Base Attack"></span>
          {{/hasBAB}}
        </div>
      </div>
    </div>
  </div>

  {{!-- Character Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
      <a class="item active" data-tab="core">Basics</a>
      <a class="item" data-tab="inventory">Inventory</a>
      {{#hasPCInventory}}
      <a class="item" data-tab="features">Features</a>
      <a class="item" data-tab="spells">Spellbook</a>
      <a class="item" data-tab="notes">Notes</a>
      {{/hasPCInventory}}
      {{#hasCapabilities}}
      <a class="item" data-tab="capabilities">Capabilities</a>
      {{/hasCapabilities}}
      {{#hasLogistics}}
      <a class="item" data-tab="logistics">Logistics</a>
      {{/hasLogistics}}
  </nav>
  
  
  <section class="sheet-body">

    {{!-- Ability Scores, Saves, Traits --}}


    <div class="tab attributes" data-group="primary" data-tab="core">

      <div class="flexrow sst">
      
        {{#hasAbilityScores}}
        <ul class="flexcol ability-scores">
          <li class="flexrow ability-score phys">
            <h4 class="rollable event-ability-name" data-ability="phys">PHYS</h4>
            <input name="system.ability-scores.phys.value" class="event-ability-value" data-ability="phys" type="number" min="3" value="{{system.ability-scores.phys.value}}" placeholder="10" data-dtype="Number">
            <ul class="txt-details">
              {{#each physText}}
              <li>{{this}}</li>
              {{/each}}
            </ul>
          </li>
          <li class="flexrow ability-score dex">
            <h4 class="rollable event-ability-name" data-ability="dex">DEX</h4>
            <input name="system.ability-scores.dex.value"  class="event-ability-value" data-ability="dex" type="number" min="3" value="{{system.ability-scores.dex.value}}" placeholder="10" data-dtype="Number">
            <ul class="txt-details">
              {{#each dexText}}
              <li>{{this}}</li>
              {{/each}}
            </ul>
          </li>
          <li class="flexrow ability-score comp">
            <h4 class="rollable event-ability-name" data-ability="comp">COMP</h4>
            <input name="system.ability-scores.comp.value"  class="event-ability-value" data-ability="comp" type="number" min="3" value="{{system.ability-scores.comp.value}}" placeholder="10" data-dtype="Number">
            <ul class="txt-details">
              {{#each compText}}
              <li>{{this}}</li>
              {{/each}}
            </ul>
          </li>
          <li class="flexrow ability-score cha">
            <h4 class="rollable event-ability-name" data-ability="cha">CHA</h4>
            <input name="system.ability-scores.cha.value"  class="event-ability-value" data-ability="cha" type="number" min="3" value="{{system.ability-scores.cha.value}}" placeholder="10" data-dtype="Number">
            <ul class="txt-details">
              {{#each chaText}}
              <li>{{this}}</li>
              {{/each}}
            </ul>
          </li>
        </ul>
        {{/hasAbilityScores}}
        
        <ul class="flexcol saves">
          <li class="flexrow save poison">
            <h4 class="rollable event-saves-name" data-save="pd">Poison / Death</h4>
            <input name="system.saves.pd.value" class="event-save-value" type="number" min="2" value="{{system.saves.pd.value}}" placeholder="20" data-dtype="Number">
          </li>
          <li class="flexrow save petpoly">
            <h4 class="rollable event-saves-name" data-save="pp">Petrify / Polymorph</h4>
            <input name="system.saves.pp.value" class="event-save-value" type="number" min="2" value="{{system.saves.pp.value}}" placeholder="20" data-dtype="Number">
          </li>
          <li class="flexrow save breath">
            <h4 class="rollable event-saves-name" data-save="bw">Breath Weapon</h4>
            <input name="system.saves.bw.value" class="event-save-value" type="number" min="2" value="{{system.saves.bw.value}}" placeholder="20" data-dtype="Number">
          </li>
          <li class="flexrow save law">
            <h4 class="rollable event-saves-name" data-save="lm">Law Magic</h4>
            <input name="system.saves.lm.value" class="event-save-value" type="number" min="2" value="{{system.saves.lm.value}}" placeholder="20" data-dtype="Number">
          </li>
          <li class="flexrow save chaos">
            <h4 class="rollable event-saves-name" data-save="cm">Chaos Magic</h4>
            <input name="system.saves.cm.value" class="event-save-value" type="number" min="2" value="{{system.saves.cm.value}}" placeholder="20" data-dtype="Number">
          </li>
        </ul>

      </div>

      <div class="flexcol button-town">
        {{#isSpellcaster}}
        <a class="rollable event-recover-spells">Recover Spells</a>
        {{/isSpellcaster}}
      </div>

    </div>

    {{!-- Inventory Tab --}}
    <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
        {{> "systems/loser/templates/actors/parts/actor-inventory.html"}}
    </div>

    {{!-- Spells Tab --}}
    <div class="tab spells flexcol" data-group="primary" data-tab="spells">
        {{> "systems/loser/templates/actors/parts/actor-spells.html"}}
    </div>

    {{!-- Features Tab --}}
    <div class="tab features flexcol" data-group="primary" data-tab="features">
        {{> "systems/loser/templates/actors/parts/actor-features.html"}}
    </div>

    {{!-- Notes Tab --}}
    <div class="tab notes flexcol" data-group="primary" data-tab="notes">
        {{> "systems/loser/templates/actors/parts/actor-notes.html"}}
    </div>

    {{!-- Capabilities Tab --}}
    <div class="tab capabilities flexcol" data-group="primary" data-tab="capabilities">
        {{> "systems/loser/templates/actors/parts/actor-capabilities.html"}}
    </div>

    {{!-- Logistics Tab --}}
    <div class="tab capabilities flexcol" data-group="primary" data-tab="logistics">
        {{> "systems/loser/templates/actors/parts/actor-logistics.html"}}
    </div>
    
  </section>

</form>