<form class="{{cssClass}} flexcol" autocomplete="off">

  {{> "systems/loser/templates/items/parts/physdesc-partial-sheet.html" }}
  
  {{!-- Weapon Properties --}}
  <div class="flexrow form-group stacked item-properties">
      <label>Armor Properties</label>
      {{#each data.propertyNames as |name prop|}}
      <label class="checkbox">
        <input type="checkbox" name="data.properties.{{prop}}" {{checked (lookup ../data.properties prop)}}/> {{ name }}
      </label>
      {{/each}}
  </div>

  <div class="flexrow details">
    <span class="title">Minimum PHYS</span>
    <input name="data.minPhys" class="value" type="number" value="{{data.minPhys}}" placeholder="0" data-dtype="Number" min="0" max="18"/> 
  </div>

  <div class="flexrow details">
    <span class="title">Ac Modifier</span>
    <input name="data.baseAC" class="value" type="number" value="{{data.baseAC}}" placeholder="0" data-dtype="Number" min="0" max="30"/> 
  </div>

  <div class="flexrow details">
    <span class="title">Magic Bonus</span>
    <input name="data.bonus" class="value" type="number" value="{{data.bonus}}" placeholder="0" data-dtype="Number" min="-5" max="5"/> 
  </div>
  
</form>