<form class="{{cssClass}} flexcol" autocomplete="off">

  <div class="flexrow core-details">
    
    <img class="pic" src="{{source.img}}" title="{{source.name}}" data-edit="img"/>
    
    <div class="flexcol basics">
      <input class="itemname" name="name" type="text" value="{{source.name}}" placeholder="Name"/>
      <div class="flexrow iteminfo">
        <span>Type: {{itemType}}</span>
      </div>
    </div>
        
  </div>
  
  <div class="phys-desc">
    <div class="desc-detail">
      {{editor system.description target="system.description" button=true owner=true editable=true}}
    </div>
  </div>

  <div class="flexrow  details">
    <span class="title">Category</span>
    <select name="system.category">
      {{selectOptions config.FeatureCategories selected=system.category blank="-- Required --"}}
    </select>
  </div>
  
</form>