<form class="{{cssClass}} flexcol" autocomplete="off">

  <div class="flexrow core-details">
    
    <img class="pic" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>
    
    <div class="flexcol basics">
      <input class="itemname" name="name" type="text" value="{{item.name}}" placeholder="Name"/>
      <div class="flexrow iteminfo">
        <span>Type: {{data.itemType}}</span>
      </div>
    </div>
        
  </div>
  
  <div class="phys-desc">
    <div class="desc-detail">
      {{editor content=data.description target="data.description" button=true owner=true editable=true}}
    </div>
  </div>

  <div class="flexrow  details">
    <span class="title">Category</span>
    <select name="data.category">
      {{selectOptions data.config.FeatureCategories selected=data.category blank="-- Required --"}}
    </select>
  </div>
  
</form>