<form class="{{cssClass}} flexcol" autocomplete="off">

  <div class="flexrow core-details">
    
    <img class="pic" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>
    
    <div class="flexcol basics">
      <input class="itemname" name="name" type="text" value="{{item.name}}" placeholder="Name"/>
      <div class="flexrow iteminfo">
        <span>Type: {{data.itemType}}</span>
        <span class="slots">Weight: {{data.totalWeight}}</span>
      </div>
    </div>
        
  </div>

  <div class="phys-desc">
    <div class="desc-detail">
      {{editor content=data.description target="data.description" button=true owner=true editable=true}}
    </div>
  </div>

  <div class="flexrow details">
    <span class="title">Reserved Weight</span>
    <input name="data.reservedWeight" type="number" value="{{data.reservedWeight}}" data-dtype="Number" min="0"/>
    <span class="title right currency">Currency Invested (sp)</span>
    <input name="data.investment" type="number" value="{{data.investment}}" data-dtype="Number" min="0"/>
  </div>

</form>