<form class="{{cssClass}} flexcol" autocomplete="off">

  <div class="flexrow core-details">
    
    <img class="pic" src="{{source.img}}" title="{{source.name}}" data-edit="img"/>
    
    <div class="flexcol basics">
      <input class="itemname" name="name" type="text" value="{{source.name}}" placeholder="Name"/>
      <div class="flexrow iteminfo">
        <span>Type: {{itemType}}</span>
        <span class="slots">Weight: {{totalWeight}}</span>
      </div>
    </div>
        
  </div>

  <div class="phys-desc">
    <div class="desc-detail">
      {{editor system.description target="system.description" button=true owner=true editable=true}}
    </div>
  </div>

  <div class="flexrow details">
    <span class="title">Reserved Weight</span>
    <input name="system.weight" type="number" value="{{system.weight}}" data-dtype="Number" min="0"/>
    <span class="title right currency">Currency Invested (sp)</span>
    <input name="system.investment" type="number" value="{{system.investment}}" data-dtype="Number" min="0"/>
  </div>

</form>