<form class="{{cssClass}} flexcol" autocomplete="off">

  <div class="flexrow core-details">
    
    <img class="pic" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>
    
    <div class="flexcol basics">
      <input class="itemname" name="name" type="text" value="{{item.name}}" placeholder="Name"/>
      <div class="flexrow iteminfo">
        <span>Type: {{data.itemType}}</span>
        {{#data.hasSlots}}
          <span class="slots">Slots: {{data.slots}}</span>
        {{/data.hasSlots}}
      </div>
    </div>       
  </div>

  <div class="phys-desc">
    <div class="desc-detail">
      {{editor content=data.description target="data.description" button=true owner=true editable=true}}
    </div>
  </div>

  <div class="flexrow details">
    <span class="title">Spell List</span>
    <select name="data.spellList">
      {{selectOptions data.config.SpellLists selected=data.spellList blank="-- Required --"}}
    </select>
    <span class="title">Level</span>
    <select name="data.level">
      {{selectOptions data.config.SpellLevels selected=data.level blank="-- Required --"}}
    </select>
  </div>

</form>