<form class="{{cssClass}} flexcol" autocomplete="off">

  {{> "systems/loser/templates/items/parts/physdesc-partial-sheet.html" }}
  
  {{!-- Weapon Properties --}}
  <div class="flexrow form-group stacked item-properties">
      <label>Weapon Properties</label>
      {{#each propertyNames as |name prop|}}
      <label class="checkbox">
        <input type="checkbox" name="system.properties.{{prop}}" {{checked (lookup ../system.properties prop)}}/> {{ name }}
      </label>
      {{/each}}
  </div>
 
</form>