<div class= "spells-partial flexcol">

  {{#isSpellcaster}}

  {{!-- Header --}}
  <div class="flexrow header">
    Spell List: {{spellbook.list}}
  </div>

  <div class="spell-list">

    <div class="header flexrow">
      <span>Level 1</span>
      <span>Memorized:
        {{#spellbook.mustMemorize}} 
          {{spellbook.1.memorized}} / {{spellbook.1.maxUses}}
        {{/spellbook.mustMemorize}}
        {{^spellbook.mustMemorize}} 
          NA
        {{/spellbook.mustMemorize}}
        </span>
      <span>Remaining Spells: {{spellbook.1.remaining}} / {{spellbook.1.maxUses}}</span>
    </div>
    <ul>
      {{#each spellbook.1.spells}}
        <li class="item flexrow" data-item-id='{{this._id}}'>
          <div class="item-image event-spell-img" role="button" aria-label="{{this.name}}" style="background-image: url('{{this.img}}')"></div>
          <div class="item-name drop">{{this.name}}</div>
          <div class="range drop memorize">
            {{#this.system.mustMemorize}}
            <span class="times-mem">{{this.system.timesMemorized}}</span>
            <a class="spell-mem event-spell-mem" title="Memorize"><i class="fas fa-plus"></i></a>
            <a class="spell-demem event-spell-demem" title="Unmemorize"><i class="fas fa-minus"></i></a>
            {{/this.system.mustMemorize}}
          </div>
          <div class="uncast drop">
            <a class="rollable event-uncast-spell">Uncast</a>
          </div>
          <div class="item-control flexrow drop">
            <div><a class="event-item-delete" title="Delete"><i class="fas fa-trash"></i></a></div>
          </div>
        </li>
      {{/each}}
    </ul>

    <div class="header flexrow">
      <span>Level 2</span>
      <span>Memorized:
        {{#spellbook.mustMemorize}} 
          {{spellbook.2.memorized}} / {{spellbook.2.maxUses}}
        {{/spellbook.mustMemorize}}
        {{^spellbook.mustMemorize}} 
          NA
        {{/spellbook.mustMemorize}}
        </span>
      <span>Remaining Spells: {{spellbook.2.remaining}} / {{spellbook.2.maxUses}}</span>
    </div>
    <ul>
      {{#each spellbook.2.spells}}
        <li class="item flexrow" data-item-id='{{this._id}}'>
          <div class="item-image event-spell-img" role="button" aria-label="{{this.name}}" style="background-image: url('{{this.img}}')"></div>
          <div class="item-name drop">{{this.name}}</div>
          <div class="range drop memorize">
            {{#this.system.mustMemorize}}
            <span class="times-mem">{{this.system.timesMemorized}}</span>
            <a class="spell-mem event-spell-mem" title="Memorize"><i class="fas fa-plus"></i></a>
            <a class="spell-demem event-spell-demem" title="Unmemorize"><i class="fas fa-minus"></i></a>
            {{/this.system.mustMemorize}}
          </div>
          <div class="uncast drop">
            <a class="rollable event-uncast-spell">Uncast</a>
          </div>
          <div class="item-control flexrow drop">
            <div><a class="event-item-delete" title="Delete"><i class="fas fa-trash"></i></a></div>
          </div>
        </li>
      {{/each}}
    </ul>

    <div class="header flexrow">
      <span>Level 3</span>
      <span>Memorized:
        {{#spellbook.mustMemorize}} 
          {{spellbook.3.memorized}} / {{spellbook.3.maxUses}}
        {{/spellbook.mustMemorize}}
        {{^spellbook.mustMemorize}} 
          NA
        {{/spellbook.mustMemorize}}
        </span>
      <span>Remaining Spells: {{spellbook.3.remaining}} / {{spellbook.3.maxUses}}</span>
    </div>
    <ul>
      {{#each spellbook.3.spells}}
        <li class="item flexrow" data-item-id='{{this._id}}'>
          <div class="item-image event-spell-img" role="button" aria-label="{{this.name}}" style="background-image: url('{{this.img}}')"></div>
          <div class="item-name drop">{{this.name}}</div>
          <div class="range drop memorize">
            {{#this.system.mustMemorize}}
            <span class="times-mem">{{this.system.timesMemorized}}</span>
            <a class="spell-mem event-spell-mem" title="Memorize"><i class="fas fa-plus"></i></a>
            <a class="spell-demem event-spell-demem" title="Unmemorize"><i class="fas fa-minus"></i></a>
            {{/this.system.mustMemorize}}
          </div>
          <div class="uncast drop">
            <a class="rollable event-uncast-spell">Uncast</a>
          </div>
          <div class="item-control flexrow drop">
            <div><a class="event-item-delete" title="Delete"><i class="fas fa-trash"></i></a></div>
          </div>
        </li>
      {{/each}}
    </ul>

    <div class="header flexrow">
      <span>Level 4</span>
      <span>Memorized:
        {{#spellbook.mustMemorize}} 
          {{spellbook.4.memorized}} / {{spellbook.4.maxUses}}
        {{/spellbook.mustMemorize}}
        {{^spellbook.mustMemorize}} 
          NA
        {{/spellbook.mustMemorize}}
        </span>
      <span>Remaining Spells: {{spellbook.4.remaining}} / {{spellbook.4.maxUses}}</span>
    </div>    
    <ul>
      {{#each spellbook.4.spells}}
        <li class="item flexrow" data-item-id='{{this._id}}'>
          <div class="item-image event-spell-img" role="button" aria-label="{{this.name}}" style="background-image: url('{{this.img}}')"></div>
          <div class="item-name drop">{{this.name}}</div>
          <div class="range drop memorize">
            {{#this.system.mustMemorize}}
            <span class="times-mem">{{this.system.timesMemorized}}</span>
            <a class="spell-mem event-spell-mem" title="Memorize"><i class="fas fa-plus"></i></a>
            <a class="spell-demem event-spell-demem" title="Unmemorize"><i class="fas fa-minus"></i></a>
            {{/this.system.mustMemorize}}
          </div>
          <div class="uncast drop">
            <a class="rollable event-uncast-spell">Uncast</a>
          </div>
          <div class="item-control flexrow drop">
            <div><a class="event-item-delete" title="Delete"><i class="fas fa-trash"></i></a></div>
          </div>
        </li>
      {{/each}}
    </ul>

    <div class="header flexrow">
      <span>Level 5</span>
      <span>Memorized:
        {{#spellbook.mustMemorize}} 
          {{spellbook.5.memorized}} / {{spellbook.5.maxUses}}
        {{/spellbook.mustMemorize}}
        {{^spellbook.mustMemorize}} 
          NA
        {{/spellbook.mustMemorize}}
        </span>
      <span>Remaining Spells: {{spellbook.5.remaining}} / {{spellbook.5.maxUses}}</span>
    </div>
    <ul>
      {{#each spellbook.5.spells}}
        <li class="item flexrow" data-item-id='{{this._id}}'>
          <div class="item-image event-spell-img" role="button" aria-label="{{this.name}}" style="background-image: url('{{this.img}}')"></div>
          <div class="item-name drop">{{this.name}}</div>
          <div class="range drop memorize">
            {{#this.system.mustMemorize}}
            <span class="times-mem">{{this.system.timesMemorized}}</span>
            <a class="spell-mem event-spell-mem" title="Memorize"><i class="fas fa-plus"></i></a>
            <a class="spell-demem event-spell-demem" title="Unmemorize"><i class="fas fa-minus"></i></a>
            {{/this.system.mustMemorize}}
          </div>
          <div class="uncast drop">
            <a class="rollable event-uncast-spell">Uncast</a>
          </div>
          <div class="item-control flexrow drop">
            <div><a class="event-item-delete" title="Delete"><i class="fas fa-trash"></i></a></div>
          </div>
        </li>
      {{/each}}
    </ul>

    <div class="header flexrow">
      <span>Level 6</span>
      <span>Memorized:
        {{#spellbook.mustMemorize}} 
          {{spellbook.6.memorized}} / {{spellbook.6.maxUses}}
        {{/spellbook.mustMemorize}}
        {{^spellbook.mustMemorize}} 
          NA
        {{/spellbook.mustMemorize}}
        </span>
      <span>Remaining Spells: {{spellbook.6.remaining}} / {{spellbook.6.maxUses}}</span>
    </div>
    <ul>
      {{#each spellbook.6.spells}}
        <li class="item flexrow" data-item-id='{{this._id}}'>
          <div class="item-image event-spell-img" role="button" aria-label="{{this.name}}" style="background-image: url('{{this.img}}')"></div>
          <div class="item-name drop">{{this.name}}</div>
          <div class="range drop memorize">
            {{#this.system.mustMemorize}}
            <span class="times-mem">{{this.system.timesMemorized}}</span>
            <a class="spell-mem event-spell-mem" title="Memorize"><i class="fas fa-plus"></i></a>
            <a class="spell-demem event-spell-demem" title="Unmemorize"><i class="fas fa-minus"></i></a>
            {{/this.system.mustMemorize}}
          </div>
          <div class="uncast drop">
            <a class="rollable event-uncast-spell">Uncast</a>
          </div>
          <div class="item-control flexrow drop">
            <div><a class="event-item-delete" title="Delete"><i class="fas fa-trash"></i></a></div>
          </div>
        </li>
      {{/each}}
    </ul>

  </div>

  {{else}}
  No spellcasting capabilities
  {{/isSpellcaster}}


</div>