<div class= "notes-partial flexcol">

  <div class="appearance wrapper">
      <span class="title">Description</span>
      <div class="editor">
        {{editor system.notes.appearance target="system.notes.appearance" button=true owner=true editable=true}}
      </div>
  </div>

  <div class="biography wrapper">
    <span class="title">Biography</span>
    <div class="editor">
      {{editor system.notes.biography target="system.notes.biography" button=true owner=true editable=true}}
    </div>
  </div>


</div>