<div class= "inventory-partial flexcol">
  
  {{!-- Header --}}
  <div class="flexrow header">
    Available Currency: {{data.totalCurrency}}sp
    <span class="slots">Total Slots: {{data.totalSlots}}</span>
  </div>

  <div class="inventory-lists">
    
    <div class="header flexrow">
      Weapons
      <span class="slots">Slots: {{data.inventory.weapon.slots}}</span>
    </div>
    <ul>
      {{#each data.inventory.weapon.items}}
        <li class="item flexrow" data-item-id='{{this._id}}'>
          <div class="item-image event-inventory-img" role="button" aria-label="{{this.name}}" style="background-image: url('{{this.img}}')"></div>
          <div class="item-name drop">{{this.name}}</div>
          <div class="item-quantity drop">Qty: {{this.data.qty}}</div>
          <div class="item-resource-die drop">{{#this.hasResourceDie}}die: {{this.data.resourceDie}}{{/this.hasResourceDie}}</div>
          <div class="item-slots drop">slots: {{this.slots}}</div>
          <div class="item-control flexrow drop">
            <div><a class="event-item-edit" title="Edit"><i class="fas fa-edit"></i></a></div>
            <div><a class="event-item-delete" title="Delete"><i class="fas fa-trash"></i></a></div>
          </div>
        </li>
      {{/each}}
    </ul>

    <div class="header flexrow">
      Armor
      <span class="slots">Slots: {{data.inventory.armor.slots}}</span>
    </div>
    <ul>
      {{#each data.inventory.armor.items}}
        <li class="item flexrow" data-item-id='{{this._id}}'>
          <div class="item-image event-inventory-img" role="button" aria-label="{{this.name}}" style="background-image: url('{{this.img}}')"></div>
          <div class="item-name drop">{{this.name}}</div>
          <div class="item-quantity drop">Qty: {{this.data.qty}}</div>
          <div class="item-resource-die drop">{{#this.hasResourceDie}}die: {{this.data.resourceDie}}{{/this.hasResourceDie}}</div>
          <div class="item-slots drop">slots: {{this.slots}}</div>
          <div class="item-control flexrow drop">
            <div><a class="event-item-edit" title="Edit"><i class="fas fa-edit"></i></a></div>
            <div><a class="event-item-delete" title="Delete"><i class="fas fa-trash"></i></a></div>
          </div>
        </li>
      {{/each}}
    </ul>

    <div class="header flexrow">
      Equipment
      <span class="slots">Slots: {{data.inventory.equipment.slots}}</span>
    </div>
    <ul>
      {{#each data.inventory.equipment.items}}
        <li class="item flexrow" data-item-id='{{this._id}}'>
          <div class="item-image event-inventory-img" role="button" aria-label="{{this.name}}" style="background-image: url('{{this.img}}')"></div>
          <div class="item-name drop">{{this.name}}</div>
          <div class="item-quantity drop">Qty: {{this.data.qty}}</div>
          <div class="item-resource-die drop rollable event-resourcedie-value">{{#this.hasResourceDie}}<a>die: {{this.data.resourceDie}}</a>{{/this.hasResourceDie}}</div>
          <div class="item-slots drop">slots: {{this.slots}}</div>
          <div class="item-control flexrow drop">
            <div><a class="event-item-edit" title="Edit"><i class="fas fa-edit"></i></a></div>
            <div><a class="event-item-delete" title="Delete"><i class="fas fa-trash"></i></a></div>
          </div>
        </li>
      {{/each}}
    </ul>


    <div class="header flexrow">
      Loot
      <span class="slots">Slots: {{data.inventory.loot.slots}}</span>
    </div>
    <ul>
      {{#each data.inventory.loot.items}}
        <li class="item flexrow" data-item-id='{{this._id}}'>
          <div class="item-image event-inventory-img" role="button" aria-label="{{this.name}}" style="background-image: url('{{this.img}}')"></div>
          <div class="item-name drop">{{this.name}}</div>
          <div class="item-quantity drop">Qty: {{this.data.qty}}</div>
          <div class="item-resource-die drop">{{#this.hasResourceDie}}die: {{this.data.resourceDie}}{{/this.hasResourceDie}}</div>
          <div class="item-slots drop">slots: {{this.slots}}</div>
          <div class="item-control flexrow drop">
            <div><a class="event-item-edit" title="Edit"><i class="fas fa-edit"></i></a></div>
            <div><a class="event-item-delete" title="Delete"><i class="fas fa-trash"></i></a></div>
          </div>
        </li>
      {{/each}}
    </ul>
  
    <div class="header flexrow">
      Currency
      <span class="slots">Slots: {{data.inventory.currency.slots}}</span>
    </div>
    <ul>
      {{#each data.inventory.currency.items}}
        <li class="item flexrow" data-item-id='{{this._id}}'>
          <div class="item-image event-inventory-img" role="button" aria-label="{{this.name}}" style="background-image: url('{{this.img}}')"></div>
          <div class="item-name drop">{{this.name}}</div>
          <div class="item-quantity drop">{{#this.hasQty}}Qty: {{this.data.qty}}{{/this.hasQty}}</div>
          <div class="item-resource-die drop">{{#this.hasResourceDie}}die: {{this.data.resourceDie}}{{/this.hasResourceDie}}</div>
          <div class="item-slots drop">slots: {{this.slots}}</div>
          <div class="item-control flexrow drop">
            <div><a class="event-item-edit" title="Edit"><i class="fas fa-edit"></i></a></div>
            <div><a class="event-item-delete" title="Delete"><i class="fas fa-trash"></i></a></div>
          </div>
        </li>
      {{/each}}
    </ul>

    {{#data.isMonster}}
    <div class="header flexrow">
      Logistical Items
      <span class="slots">Slots: {{data.inventory.logistic.slots}}</span>
    </div>
    <ul>
      {{#each data.inventory.logistics.items}}
        <li class="item flexrow" data-item-id='{{this._id}}'>
          <div class="item-image event-inventory-img" role="button" aria-label="{{this.name}}" style="background-image: url('{{this.img}}')"></div>
          <div class="item-name drop">{{this.name}}</div>
          <div class="item-quantity drop">{{#this.hasQty}}Qty: {{this.data.qty}}{{/this.hasQty}}</div>
          <div class="item-resource-die drop">{{#this.hasResourceDie}}die: {{this.data.resourceDie}}{{/this.hasResourceDie}}</div>
          <div class="item-slots drop">slots: {{this.slots}}</div>
          <div class="item-control flexrow drop">
            <div><a class="event-item-edit" title="Edit"><i class="fas fa-edit"></i></a></div>
            <div><a class="event-item-delete" title="Delete"><i class="fas fa-trash"></i></a></div>
          </div>
        </li>
      {{/each}}
    </ul>
    {{/data.isMonster}}
  
  </div>  

</div>